<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hatate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Hatate.Properties.Settings>
            <setting name="Similarity" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="TagsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MatchType" serializeAs="String">
                <value>Additional</value>
            </setting>
            <setting name="CheckMatchType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Source_Danbooru" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Source_Konachan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Source_Yandere" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Source_Gelbooru" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Source_SankakuChannel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Source_Eshuushuu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Source_TheAnimeGallery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Source_Zerochan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Source_AnimePictures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddRating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Randomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HydrusApiPort" serializeAs="String">
                <value>45869</value>
            </setting>
            <setting name="HydrusApiAccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="HydrusApiHost" serializeAs="String">
                <value>http://127.0.0.1:45869</value>
            </setting>
            <setting name="HydrusTagService" serializeAs="String">
                <value />
            </setting>
            <setting name="AddTaggedTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddNotfoundTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaggedTag" serializeAs="String">
                <value>hatate:tagged</value>
            </setting>
            <setting name="NotfoundTag" serializeAs="String">
                <value>hatate:not found</value>
            </setting>
            <setting name="AddFoundTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FoundTag" serializeAs="String">
                <value>hatate:found</value>
            </setting>
            <setting name="DeleteImported" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AssociateUrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogMatchedUrls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendUrlWithTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParseTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResizeImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThumbWidth" serializeAs="String">
                <value>150</value>
            </setting>
        </Hatate.Properties.Settings>
    </userSettings>
</configuration>
