<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hatate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Hatate.Properties.Settings>
            <setting name="Similarity" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="TagsCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MatchType" serializeAs="String">
                <value>Additional</value>
            </setting>
            <setting name="CheckMatchType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Source_Danbooru" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Source_Konachan" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Source_Yandere" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Source_Gelbooru" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Source_SankakuChannel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Source_Eshuushuu" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Source_TheAnimeGallery" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Source_Zerochan" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Source_AnimePictures" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AddRating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Randomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HydrusApiPort" serializeAs="String">
                <value>45869</value>
            </setting>
            <setting name="HydrusApiAccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="HydrusApiHost" serializeAs="String">
                <value>http://127.0.0.1:45869</value>
            </setting>
            <setting name="HydrusTagService" serializeAs="String">
                <value />
            </setting>
            <setting name="AddTaggedTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddNotfoundTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaggedTag" serializeAs="String">
                <value>hatate:tagged</value>
            </setting>
            <setting name="NotfoundTag" serializeAs="String">
                <value>hatate:not found</value>
            </setting>
            <setting name="AddFoundTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FoundTag" serializeAs="String">
                <value>hatate:found</value>
            </setting>
            <setting name="DeleteImported" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AssociateUrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogMatchedUrls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendUrlWithTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParseTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResizeImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThumbWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoveResultAfter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Source_Pixiv" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Source_Twitter" serializeAs="String">
                <value>-14</value>
            </setting>
            <setting name="Source_Other" serializeAs="String">
                <value>-17</value>
            </setting>
            <setting name="Source_Seiga" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SauceNaoApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Source_DeviantArt" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Source_ArtStation" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="Source_Pawoo" serializeAs="String">
                <value>-13</value>
            </setting>
            <setting name="Source_MangaDex" serializeAs="String">
                <value>-16</value>
            </setting>
            <setting name="StartupReleaseCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddImagesToHydrusPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HydrusPageName" serializeAs="String">
                <value>files</value>
            </setting>
            <setting name="SearchedParenthesisValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SimilarityThreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RetryMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sources" serializeAs="String">
                <value />
            </setting>
            <setting name="HydrusTagServiceKey" serializeAs="String">
                <value />
            </setting>
            <setting name="HydrusQuery_InboxOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HydrusQuery_ArchiveOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HydrusQuery_WarnBeforeImport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HydrusQuery_Limit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TagSource_User" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TagSource_Booru" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TagSource_SearchEngine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagSource_Hatate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TagNamespaces" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusHydrusPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZerochanTagNamespaces" serializeAs="String">
                <value />
            </setting>
            <setting name="BetterImageRules_PreferedFileFormat" serializeAs="String">
                <value>PNG</value>
            </setting>
            <setting name="BetterImageRules_RemoteImageWidthShouldBeGreater"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetterImageRules_RemoteImageHeightShouldBeGreater"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetterImageRules_RemoteImageSizeShouldBeGreater"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hydrus_AutoSendBehaviour" serializeAs="String">
                <value>0</value>
            </setting>
        </Hatate.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.15.0.0" newVersion="0.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
